{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}


{% block content %}
  <div class="container mt-3">
    <h1>{{title}}</h1>
    <hr>
    <div class="card">
      <div class="card-header text-bg-success">
        <h3>Profile Information</h3>
      </div>
      <div class="card-body">
        <form class="row g-3" method="post">
          <div class="col-md-6">
            <label for="username" class="form-label">Username</label>
            <input disabled name="username" value="{{current_user.username}}" type="text" class="form-control" id="username">
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input disabled name="email" value="{{current_user.email}}" type="email" class="form-control" id="email">
          </div>
          <div class="col-md-6">
            <label for="firstname" class="form-label">Firstname</label>
            <input name="firstname" value="{{current_user.firstname}}" type="text" class="form-control" id="firstname">
          </div>
          <div class="col-md-6">
            <label for="lastname" class="form-label">Lastname</label>
            <input name="lastname" value="{{current_user.lastname}}" type="text" class="form-control" id="lastname">
          </div>
          
          <div class="col-12">
            <button type="submit" class="btn btn-outline-success">
              <i class="bi bi-person-vcard-fill"></i>
              Update Profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}



